# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
venv312/
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# MLflow
mlruns/

# FAISS
*.faiss

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# PostgreSQL dumps
*.sql